/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body{
    padding-bottom: 500px;
}
.header-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    /* background-image: url(./YouTube-618x350.jpg); */
}

.signup-button{
    display: inline-flex;
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 2px;
    border-width: thin;
    border-color: blue;
    border-style: solid;
    padding-top: 5px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-left: 11px;
    margin-top: 2px;
}

.login-button{
    float: left;
    color: blue;
    text-decoration: none;
    font-size: 20px;
    border-color: blue;
    border-style: solid;
    padding-top: 5px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-left: 11px;
    border-radius: 2px;
    border-width: thin;
    margin-top: 2px;
}
.entire-nav-bar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.nav-1 {
    float: left;
    
}
.nav-2 {
    float: right;
}

.login-form-container {
    /* margin-left: auto;
    margin-right: auto;
     */
    height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
}

.login-form{
    display: inline-flex;
    flex-direction: column;
}

.login-form-box {
   display: inline-flex;
        font-size: 20px;
        border-radius: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-color: grey;
        padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 36px;
    padding-left: 40px;
    width: 368px;
    /* height: 416px; */
    height: 500px;
    flex-direction: column;

    /* justify-content: space-between; */

    
}
.logo-sign-in{
    align-self: center;
}

.Choose{
    align-self: center;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Welcome-to-Videozz{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.username{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.password{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.greeting-text-block{
    /* display: block; */
    float: right;
    /* vertical-align: top; */
    display: flex;
    align-items: flex-start;

}

.greeting-message{
    display: inline-block;
    /* width: 50%; */
    margin-top: 10px;
    /* vertical-align: top; */
}

.logout-button{
   /* background-color: blue;
    color: white;
    width: 75px;
    height: 25px;
    font-size: 15px;
    border-radius: 5px; */

    color: blue;
    font-size: 20px;
    border-color: blue;
    border-style: solid;
    padding-top: 5px;
    padding-right: 11px;
    padding-bottom: 5px;
    padding-left: 11px;
    border-radius: 2px;
    border-width: thin;
    margin-left: 20px;
    /* width: 50%; */
    /* vertical-align: top; */
}

.session-submit{
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 25px;
    /* align-items: flex-end; */
    border-radius: 5px;
    align-self: flex-end;
}
/* show page styling starts here */
.show-container{
    display: flex;
    flex-direction: column;
}
.show-video{
    display: inline-block
}
.video-container{
    text-align: center;
}

.title-container{
    margin-left: 80px;
    margin-top: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    margin-right: 80px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.show-title{
    font-size: 40px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Roboto, Arial, sans-serif;
}

/* .show-likes{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.like-container{
    display: flex;
    flex-direction: row;
}
.like-parent{
    display: flex;
    flex-direction: row;
}
.dislike-parent{
    display: flex;
    flex-direction: row;
}
.likes-number{
    font-size: 30px;
    color:#606060;
    padding-top: 4px;
}
.dislikes-number{
    font-size: 30px;
    color: #606060;
    padding-top: 4px;
}
i.fas{
    color: rgba(6, 95, 212)
}
.icon-container-2{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container-2:active{
    
    border-radius:50%;
    /* opacity: 0; */
    animation-name: colorchange2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
    /* animation-duration: infinite; */
    /* background-color: lightgrey; */
    
    /* height: 33px;
    width: 33px; */
}

@keyframes colorchange2 {
  
  100% {
    opacity: 1;
    background-color: lightgrey;
  }
}
.icon-container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container:active{
    
    border-radius:50%;
    /* opacity: 0; */
    animation-name: colorchange;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
    /* animation-duration: infinite; */
    /* background-color: lightgrey; */
    
    /* height: 33px;
    width: 33px; */
}

@keyframes colorchange {
  
  100% {
    opacity: 1;
    background-color: lightblue;
  }
}

i.far{
color: #606060
}
.fa-thumbs-up{
    font-size: 30px;
    padding-bottom: 5px;

}
.fa-thumbs-down{
    font-size: 30px;
    
}

.description-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.description-title{
    font-size: 30px;
    margin-left: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5px;
}
.show-description{
    font-size: 1.4rem;
    margin-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Comment css here */
.comment-form{
    display: flex;
    flex-direction: column;
    
}
.comment-button-group{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.textarea-container{
    border-top: 1px solid lightgrey;
    margin-left: 80px;
    margin-right: 80px;
    
}
.comment-length{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.review-textbox{
    font-size: 20px;
    border-top: white;
    border-left: white;
    border-right: white;
    outline: none;
}
.review-index{
    list-style: none;
    font-size: 20px;
    margin-left: 50px;
}
.review-user{
    font-family:Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

}
.review-body{
    font-family:Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.comment-submit{
    /* background-color: blue; */
    color: white;
    height: 50px;
    font-size: 18px;
    /* align-items: flex-end; */
    font-family: Roboto, Arial, sans-serif;
    margin-right: 80px;
    border-radius: 5px;
    align-self: flex-end;
    /* display:none; */
    padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  outline: none;
}

.comment-submit:active{
    animation-name: colorchange3;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes colorchange3 {
  
  100% {
    opacity: 1;
    background-color: lightgrey;
  }
}


.cancel-submit{
    background-color: white;
    color: grey;
    height: 50px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    border: none;
    align-self: flex-end;
    margin-right: 5px;
    padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
  outline: none;
    border-radius: 3px;
}
.cancel-submit:active{
    animation-name: colorchange3;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes colorchange3 {
  
  100% {
    opacity: 1;
    background-color: lightgrey;
  }
}
/* video index css starts here */
.thumbnail{
    width: 300px;
    height: 150px;
}
.video-link{
    margin-left: 15px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

.video-index-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}


.video-index-element-container{
    display: flex;
    flex-direction: column;
}
